ul {
  margin: 70px 0 0 250px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 20px;
  li {
    border: 1px solid gray;
    img {
      object-fit: cover;
      width: 100%;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
